# Ciclos while

while <condition>: \\
   \# El código que sigue solo se ejecuta si la condición es verdadera. \\
   
| expresion 1 \\
  expresion 2  \\
  \# En estas lineas de código deberá cambir alguna de las variables qe se estan evaluando dentro de la condición del while que permita en algun momento dado para el ciclo
|
|
|
--------------------------------------
|Codigo después del loop

In [ ]:
n = 5

while n>= 1:
  print(n)
  n = n -1
print('el código terminó con n= ', n)

5
4
3
2
1
el código terminó con n=  0

# Ciclo for

Se van a ejecutar una cantidad de veces definida, esta cantidad de veces depende de los datos que se tomen al momento de establecer la sentencia del ciclo.

for: \\
Si se define cuántas veces el código se va a ejecutar.

for n in range (5): \\
    print(n)

range crea una lista de 5 valores empezando desde cero (en el caso del ejemplo) \\
[0,1,2,3,4]

Una vez alcanza el último valor de la lista, deja de ejecutarse. //

for <variable> in range (n)://

dará lista: [0,1,2,3,....,n-1]

In [ ]:
for n in range (5):
    print(n)

0
1
2
3
4

In [1]:
mysum = 0

In [4]:
for i in range (2,3):
  mysum += i
print(mysum)

41

In [ ]:
mysun = 0
for i in range (5,11,2):
  mysun += i
print(mysun)

21

In [7]:
suma=7

for clase_programacion in range(5):
  suma = suma+clase_programacion
print(suma)

17

In [ ]:
for i in [1.1, 4.5, 6.6, 100, 200]:
    suma = suma+i
suma

322.2

In [ ]:
nombres = ['Hernan', 'Ilona', 'Francisco', 'Daniel', 'Andrea', 'Juan', 'Ivan', 'Sofia', 'Valentina']
mensaje = ''
for nombre in range(len(nombres)):

  if nombre == 0:
    mensaje = 'El profesor es: ' + nombres[nombre]
  if nombre <= 3 and nombre >=1:
    mensaje = mensaje + '\n'
    mensaje = mensaje + 'el/la estudiant@s: ' + nombres[nombre]

    if nombre == 3:
      mensaje = mensaje + ' ----> Están a la derecha \n'

  if nombre > 3:
    mensaje = mensaje + nombres[nombre] + ', '
    if nombre == 8:
      mensaje = mensaje + ' están a la izquierda'

In [ ]:
# Sin print no sale el salto de casilla
print(mensaje)

El profesor es: Hernan
el/la estudiant@s: Ilona
el/la estudiant@s: Francisco
el/la estudiant@s: Daniel ----> Están a la derecha
Andrea, Juan, Ivan, Sofia, Valentina,  están a la izquierda

In [ ]:
nombres = ['Hernan', 'Ilona', 'Francisco', 'Daniel', 'Andre', 'Juan', 'Ivan', 'Sofi', 'Vale']
mensaje = ''
for nombre in range(len(nombres)):

  if nombre == 0:
    mensaje = 'El profesor es: ' + nombres[nombre]
  if nombre <= 3 and nombre >=1:
    mensaje = mensaje + '\n'
    mensaje = mensaje + 'el/la estudiant@s: ' + nombres[nombre]

    if nombre == 3:
      mensaje = mensaje + ' ----> Están a la derecha \n'

  if nombre > 3:
    mensaje = mensaje + nombres[nombre] + ', '
    if nombre == 8:
      mensaje = mensaje + ' están a la izquierda'

In [ ]:
print(mensaje)

El profesor es: Hernan
el/la estudiant@s: Ilona
el/la estudiant@s: Francisco
el/la estudiant@s: Daniel ----> Están a la derecha
Andre, Juan, Ivan, Sofi, Vale,  están a la izquierda